<header>
  <div class="dropdown" *ngFor="let option of selectedOptions; let i = index">
    <div class="heads">
      <h3 class="mb-2">الدور</h3>
    </div>
    <div class="select" (click)="toggleDropdown($event)">
      <div class="tri">
        <div class="caret"></div>
      </div>
      <span class="selected">{{ option }}</span>
    </div>
    <ul class="menu">
      <li
        *ngFor="let menuOption of floorsdata"
        (click)="selectOption($event, menuOption, i)"
      >
        {{ menuOption }}
      </li>
    </ul>
  </div>
</header>
