<header>
  <div class="dropdown" *ngFor="let item of dropdownItems; let i = index">
    <div class="heads">
      <h3>{{ item.label }}</h3>
    </div>
    <div class="select" (click)="toggleDropdown(i)">
      <div class="tri">
        <div class="caret"></div>
      </div>
      <span class="selected">{{ selectedItem[i] }}</span>
    </div>
    <ul class="menu" *ngIf="isDropdownOpen[i]">
      <li *ngFor="let option of item.options" (click)="selectOption(i, option)">{{ option }}</li>
    </ul>
  </div>
</header>
