<owl-carousel-o [options]="customOptions" class="carousel-container">
  <ng-template carouselSlide>
    <div class="slider-item">
      <h2
        class="textslider fw-bolder"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        نحسن جودة الحياة
      </h2>
      <p
        class="pgraphslider fw-bolder fs-4"
        data-aos="fade-up"
        data-aos-duration="4000"
      >
        شركة سعودية مساهمة متخصصة في مجال التطوير والإستثمار العقاري
      </p>

      <img src="assets/images/2.jpg" height="740px" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slider-item">
      <h2 class="textslider2 fw-bolder">عطاء يوازي طموحاتك</h2>
      <p class="pgraphslider2 fw-bolder fs-4">
        تهدف لتوفير حلول مبتكرة ومتطورة لجميع مراحل التطوير العقاري
      </p>
      <img src="assets/images/1.jpg" height="740px" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slider-item">
      <h2 class="textslider3 fw-bolder">عطاء بجودة واستثمار بجدوى</h2>
      <p class="pgraphslider3 fw-bolder fs-4">
        الأكثر تحقيقا للعوائد المجزية والإستثمار طويل الأجل
      </p>
      <img src="assets/images/3.jpg" height="740px" />
    </div>
  </ng-template>
</owl-carousel-o>

<div class="arrowContainer">
  <a href="#firstSection">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>

<div id="firstSection"></div>
