<header>
  <div class="dropdown" *ngFor="let option of selectedOptions; let i = index">
    <div class="heads">
      <h3>مميزات المشروع</h3>
    </div>
    <div class="select" (click)="toggleDropdown($event)">
      <div class="tri">
        <div class="caret"></div>
      </div>
      <span class="selected">{{ option }}</span>
    </div>
    <ul class="menu">
      <li
        *ngFor="
          let menuOption of [
            'استوديو غرفة واحدة',
            'غرفتين نوم',
            'ثلاث غرف نوم',
            'Happy'
          ]
        "
        (click)="selectOption($event, menuOption, i)"
        [ngClass]="{ active: option === menuOption }"
      >
        {{ menuOption }}
      </li>
    </ul>
  </div>
</header>
