<section class="container-fluid mt-5">
    <div class="parent row justify-content-center"> 


         <div class="child col-lg-3 col-md-5 col-sm-10 p-5 m-3" data-aos="zoom-in" style="background-color: #e1af62;" >
             <div class="mb-3 pt-3">
                 <h3 style="color: #863604;" >رؤيتنا</h3>
             </div>
             <div class="text-wrap mt-2" style="color:#38271E;">
 الرائدة في مجال الاستثمار و التطوير العقاري و الخيار الاول للمستثمرين و المستفيدين و الاكثر تميزا و جاذبية لرضا العملاء وثقة الشركاء
             </div>
         </div> 


         <div 
         class="child col-lg-3 col-md-5 col-sm-10 p-5 m-3"
          data-aos="zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="250"
          data-aos-offset="0"
           style="background-color: #e1af62;" 
         >
             <div class="massege mb-3 pt-3" >  
                 <h3 style="color: #863604;">رسالتنا</h3>
                   
             </div>		
             <div class="text-wrap mt-2" style="color:#38271E;" >
                 تقديم خدمات و منتجات مبتكرة بجودة عالية تنفذ بمراحل نمو مدروسة كل خطوة تسبقها دراسة فاحصة وتخطيط واثق يتواكب مع الرؤية لتلبية تطلعات العملاء وتحقيق رغباتهم. 
 
             </div>
         </div> 


         <div 
         class="child col-lg-3 col-md-5 col-sm-10 p-5 m-3"
          data-aos="zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="400"
          data-aos-offset="5"
           style="background-color: #e1af62;"
           >
             <div class="values mb-3 pt-3"> 
                 <h3 style="color: #863604;">قيمنا</h3>
             </div>		
             <div class="text-wrap mt-2" style="color:#38271E;" >
 
                 الالتزام , الابتكار,الشفافية, الثقة,الجودة,رضا العملاء.
 
             </div>
         </div> 

        
     </div> 
     <div class="row justify-content-center m-3">
        <div class="col-12 text-center fs-1 fw-bolder main">
            <button class="btn">المزيد</button>
        </div>
    </div>
    </section>  
     

    

