<div class="container ">

    <div class="parent row justify-content-between "> 
         <div class="child col-lg-3 p-2 " >
             <div class="Vision mb-3 pt-3">
                 <h3 style="color: #863604;" >رؤيتنا</h3>
             </div>
             <div class="text-wrap mt-2" style="color:#38271E;">
 الرائدة في مجال الاستثمار و التطوير العقاري و الخيار الاول للمستثمرين و المستفيدين و الاكثر تميزا و جاذبية لرضا العملاء وثقة الشركاء
             </div>
         </div> 
         <div class="child col-lg-3 p-2" >
             <div class="massege mb-3 pt-3" >  
                 <h3 style="color: #863604;">رسالتنا</h3>
                   
             </div>		
             <div class="text-wrap mt-2"style="color:#38271E;" >
                 تقديم خدمات و منتجات مبتكرة بجودة عالية تنفذ بمراحل نمو مدروسة كل خطوة تسبقها دراسة فاحصة وتخطيط واثق يتواكب مع الرؤية لتلبية تطلعات العملاء وتحقيق رغباتهم. 
 
             </div>
         </div> 
         <div class="child col-lg-3 p-2" >
             <div class="values mb-3 pt-3"> 
                 <h3 style="color: #863604;">قيمنا</h3>
             </div>		
             <div class="text-wrap mt-2" style="color:#38271E;" >
 
                 الالتزام , الابتكار,الشفافية, الثقة,الجودة,رضا العملاء.
 
             </div>
         </div> 
         <div class="main mb-3">
             <button class="btn">المزيد</button>
         </div>
     
        
     </div> 
     
  </div>  
