<div style="display: flex; justify-content: center">
    <div
      class="container"
      style="align-items: center; margin-bottom: 5%; margin-top: 5%"
    >
      <div class="row" style="display: flex; justify-content: center">
        
        </div>
  
        <div class="col-md-6">
          <form
            style="width: -webkit-fill-available; margin: 3%"
            (ngSubmit)="onSubmit()"
            [formGroup]="UnitForm"
            enctype="multipart/form-data"
          >
            <div class="row">
              <div class="col-md-6" style="direction: rtl">
                <div class="form-group" style="display: grid">
                  <label for="UnitNumber">رقم الوحدة</label>
                  <input type="number" id="UnitNumber" formControlName="UnitNumber" />
                  <div
                    *ngIf="UnitForm.get('UnitNumber')?.hasError('required')"
                    style="color: red"
                  >
                    مطلوب رقم الوحدة.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" style="display: grid">
                  <label for="Floor">الطابق</label>
                  <textarea
                    rows="1"
                    id="Floor"
                    formControlName="Floor"
                  ></textarea>
                  <div
                    *ngIf="UnitForm.get('Floor')?.hasError('required')"
                    style="color: red"
                  >
                  الطابق مطلوب
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" style="display: grid">
                  <label for="Description">الوصف</label>
                  <input type="text" id="Description" formControlName="Description" />
                  <div
                    *ngIf="UnitForm.get('Description')?.hasError('required')"
                    style="color: red"
                  >
                    الوصف مطلوب.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" style="display: grid">
                  <label for="NumberOfBedrooms">عدد غرف النوم</label>
                  <input
                    type="number"
                    id="NumberOfBedrooms"
                    formControlName="NumberOfBedrooms"
                  />
                  <div
                    *ngIf="UnitForm.get('NumberOfBedrooms')?.hasError('required')"
                    style="color: red"
                  >
                    مطلوب عدد غرف النوم
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="display: grid">
              <div class="col-md-6">
                <div class="form-group" style="display: grid">
                  <label for="status">الحالة</label>
                  <input
                    type="text"
                    id="status"
                    formControlName="status"
                  />
                  <div
                    *ngIf="UnitForm.get('status')?.hasError('required')"
                    style="color: red"
                  >
                    مطلوب الحالة
                  </div>
                </div>
              </div>
  
              <div class="col-md-6">
                <div class="form-group" style="display: grid">
                  <label for="Price"> السعر</label>
                  <input
                    type="number"
                    id="Price"
                    formControlName="Price"
                  />
                  <div
                    *ngIf="UnitForm.get('Price')?.hasError('required')"
                    style="color: red"
                  >
                    مطلوب السعر
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Area">المساحة</label>
                  <input
                    type="number"
                    id="Area"
                    formControlName="Area"
                  />
                  <div
                    *ngIf="UnitForm.get('Area')?.hasError('required')"
                    style="color: red"
                  >
                    مطلوب المساحة
                  </div>
                </div>
                <div class="form-group">
                  <label for="BulidingNumber">رقم المبني</label>
                  <input type="number" id="BulidingNumber" formControlName="BulidingNumber" />
                  <div
                    *ngIf="UnitForm.get('BulidingNumber')?.hasError('required')"
                    style="color: red"
                  >
                    مطلوب رقم المبني
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label for="unitcomponents">مكونات الوحدة</label>
                  <input type="text" id="unitcomponents" formControlName="unitcomponents" />
                  <div
                    *ngIf="UnitForm.get('unitcomponents')?.hasError('required')"
                    style="color: red"
                  >
                    مطلوب مكونات الوحدة
                  </div>
                </div> -->
            </div>
            <div
              style="display: flex; justify-content: center; align-items: center"
            >
              <button
                type="submit"
                style="
                  border-radius: 40px;
                  background-color: rgba(133, 104, 73, 1);
                  width: 30%;
                "
              >
                تاكيد
              </button>
            </div>
        </div>
        </form>  
        </div>
    </div>
  </div>
  
