<app-widgets-dropdown></app-widgets-dropdown>
<c-card class="mb-4">

   <!--start section Two -->
  <c-card-footer>
    <c-row class="text-center" [md]="3" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">عدد المشروعات</div>
        <strong>{{numOfCompounds}}</strong>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">عدد المباني</div>
        <strong>{{numOfBuildings}}</strong>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">عدد الوحدات</div>
        <strong>{{numOfUnits}}</strong>
      </c-col>
    </c-row>
  </c-card-footer>
     <!--end section Two -->


  
</c-card>

     <!--start section Three -->
     <c-card class="mb-4">
     <c-card-footer>
      <c-row class="text-center" [md]="4" [xs]="1">
        <c-col class="mb-sm-2 mb-0">
          <div class="text-medium-emphasis">الوحدات المباعه</div>
          <strong>({{percentageSoledUnits}}%)</strong>
          <strong><bdi>وحدة</bdi>{{numOfSoledUnits}}</strong>
          <c-progress class="mt-2" thin>
            <c-progress-bar color="success" [value]="percentageSoledUnits"></c-progress-bar>
          </c-progress>
        </c-col>
        <c-col class="mb-sm-2 mb-0">
          <div class="text-medium-emphasis">الوحدات الغير مباعه</div>
          <strong>({{percentageActiveUnits}}%)</strong>
          <strong><bdi>وحدة</bdi>{{numOfUnSoledUnits}}</strong>

          <c-progress class="mt-2" thin>
            <c-progress-bar color="info" [value]="percentageActiveUnits"></c-progress-bar>
          </c-progress>
        </c-col>
        <c-col class="mb-sm-2 mb-0">
          <div class="text-medium-emphasis">وحدات بغرفتين نوم فقط</div>
          <strong>({{percentageOfUnitsWithTwoBedrooms}}%)</strong>
          <strong><bdi>وحدة</bdi>{{numOfUnitsWithTwoBedRooms}}</strong>
          <c-progress class="mt-2" thin>
            <c-progress-bar color="warning" [value]="percentageOfUnitsWithTwoBedrooms"></c-progress-bar>
          </c-progress>
        </c-col>
        <c-col class="mb-sm-2 mb-0">
          <div class="text-medium-emphasis">وحدات بأكثر من غرفتين نوم</div>
          <strong>({{percentageOfUnitsWithMoreThanTwoBedrooms}}%)</strong>
          <strong><bdi>وحدة</bdi>{{numOfUnitsWithMoreThanTwoBedRooms}}</strong>
          <c-progress class="mt-2" thin>
            <c-progress-bar color="danger" [value]="percentageOfUnitsWithMoreThanTwoBedrooms"></c-progress-bar>
          </c-progress>
        </c-col>
      </c-row>
    </c-card-footer>
  </c-card>


<!-- <app-widgets-brand [withCharts]="true"></app-widgets-brand>
 -->
     <!--end section Three -->




     <!--start section Four -->
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="direction: rtl;">التعليقات</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          cTable
          class="mb-0 border"
          style="direction: rtl;"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <!-- <svg cIcon name="cilPeople"></svg> -->
              </th>
              <th>المستخدم</th>
              <th class="text-center"></th>
              <th>التاريخ</th>
              <th class="text-center"></th>
              <th>التعليق</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let review of reviewes">
              <td class="text-center">
                <c-avatar
                  size="md"
                  src="assets/img/avatars/users.png"
                  status="lablab"
                ></c-avatar>
              </td>
              <td>
                <div>{{review.fName}}

                </div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    {{review.fName}}
                  </span>
                </div>
              </td>
              <td class="text-center">
                <!-- <svg
                  cIcon
                  id="{{ user.country + user.name }}"
                  name="cif{{ user.country }}"
                  size="xl"
                  title="{{ user.country }}"
                ></svg> -->
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  
                  <div class="float-end ms-1 text-nowrap">
                    <small class="text-medium-emphasis">
                      {{review.datePosted}}
                    </small>
                  </div>
                </div>
                {{review.datePosted}}
              </td>
              <td class="text-center">
                <!-- <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg> -->
              </td>
              <td>
                <div class="small text-medium-emphasis">{{review.reviewText}}</div>
                <div class="fw-semibold text-nowrap">{{review.reviewText}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
     <!--end section Four -->

