<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <ul>
          <li><a href="#"><img src="assets/images/elawalyLogo.png" height="70px"></a></li>
          
        </ul>
      </div>
      <div class="footer-col">
        <h4>روابط مفيدة</h4>
        <ul>
          <li><a href="#">المشاريع</a></li>
          <li><a href="#">من نحن</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>التواصل الإجتماعي</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 pt-5">
    <ul>
      <li><a href="#">جده, حي الفيحاء, شارع الملك عبدالله, المملكه العربيه السعودية</a></li>
      <li><a href="#">800 305 0004</a></li>
      <li><a href="#">info@alawaly.sa</a></li>
    </ul>
  </div>
</footer>