.avilable {
  width: 70px;
  background-color: #57af60;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
}
.icons {
  display: flex;
  justify-content: space-around;
  /* margin: 10px; */
  margin-bottom: 10px;
}
.icon {
  display: flex;
  color: #999898;
  font-size: 15px;
}
.icon span {
  font-size: 30px;
}
.icon p {
  margin: auto;
  font-size: 17px;
}
.rtl-text {
  direction: rtl; /* Apply right-to-left text direction */
  text-align: left; /* Set text alignment to left (start) */
}
