<!-- validation , display components , responsive , service to get the data from the -->
<!--<main style="width: 50rem"> -->
<main class="sm-col-8">
  <!-- <h2 mat-dialog-title>Install Angular</h2> -->
  <mat-dialog-content class="mat-typography">
    <div class="card sm-col-8 p-2" data-page="1">
      <div class="head d-flex justify-content-between">
        <button class="btn btn-success rounded-1 h-25">متاح</button>
        <div>
          <h3 class=" fw-bold me-auto p-0" style="color: #38271E !important;">A1</h3>
          <h3 class=" fw-bold ps-2"  style="color: #38271E !important;"> 
            {{ 1500 | ryalcurrency }}
          </h3>
        </div>
      </div>
      <!-- /////////////////////////////unit component/////////////////////////////////////// -->
      <div class="row">
        <h3 class="fw-bold" dir="rtl"  style="color: #38271E !important;">مكونات الوحدة:</h3>
        <h3 class=" fw-bold" dir="rtl"  style="color: #38271E !important;">مجلس نساء + مجلس رجال + غرفة معيشة + 2 غرفة نوم + دورة مياه + مطبخ</h3>

      </div>
 

      <!-- ////////////////////////////////////Form//////////////////////////////////////////////////////// -->
      <div class="row">
        <form
          dir="rtl"
          class="mb-5 mt-5"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="mb-3 col-lg-6 col-sm-8">
              <label for="name" class="form-label ms-5"  style="color: #38271E !important;">الاسم</label>
              <input
                type="text"
                class="form-control w-75 ms-5"
                id="name"
                formControlName="name"
              />
              <div
                *ngIf="form.get('name')?.hasError('required')"
                style="color: red"
                class="ms-5"
              >
                الاسم مطلوب
              </div>
              <div
                *ngIf="form.get('name')?.hasError('minlength')"
                style="color: red"
                class="ms-5"
              >
                الاسم غير صالح
              </div>
            </div>
            <div class="mb-3 col-lg-6 col-sm-8">
              <label for="phoneNumber" class="form-label ms-5"
                >رقم الجوال</label
              >
              <input
                type="tel"
                class="form-control w-75 ms-5"
                id="phoneNumber"
                formControlName="phoneNumber"
                style="color: #38271E !important;"
              />
              <div
                *ngIf="form.get('phoneNumber')?.hasError('required')"
                style="color: red"
                class="ms-5"
              >
                الرقم مطلوب
              </div>
              <div
                *ngIf="form.get('phoneNumber')?.hasError('pattern')"
                style="color: red"
                class="ms-5"
              >
                الرقم غير صالح
              </div>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-lg-6 col-sm-8">
              <label for="ssn" class="form-label ms-5"  style="color: #38271E !important;">الرقم الشخصي</label>
              <input
                type="text"
                class="form-control w-75 ms-5"
                id="ssn"
                formControlName="ssn"
              />
              <div
                *ngIf="form.get('ssn')?.hasError('required')"
                style="color: red"
                class="ms-5"
              >
            الرقم الشخصي مطلوب 
             </div>
            </div>
            <div class="mb-3 col-lg-6 col-sm-8">
              <label for="floorNumber" class="form-label ms-5"  style="color: #38271E !important;"
                >عدد الأدوار</label
              >
              <input
                type="tel"
                class="form-control w-75 ms-5"
                id="floorNumber"
                formControlName="floorNumber"
              />
              <div
                *ngIf="form.get('floorNumber')?.hasError('required')"
                style="color: red"
                class="ms-5"
              >
                عدد الأدوار مطلوب
              </div>
            </div>
          </div>


          <div class="row">
            <div class="mb-3 col-lg-6 col-sm-8">
              <label for="contactEmail" class="form-label ms-5"  style="color: #38271E !important;"
                >البريد الإلكتروني</label
              >
              <input
                type="email"
                class="form-control w-75 ms-5"
                id="contactEmail"
                formControlName="contactEmail"
              />
              <div
                *ngIf="form.get('contactEmail')?.hasError('required')"
                style="color: red"
                class="ms-5"
              >
                البريد الإلكتروني مطلوب
              </div>
              <div
                *ngIf="form.get('contactEmail')?.hasError('email')"
                style="color: red"
                class="ms-5"
              >
                البريد الإلكتروني مطلوب
              </div>
            </div>
            <div class="mb-3 col-lg-6 col-sm-8">
              <label for="budget" class="form-label ms-5"  style="color: #38271E !important;">الميزانية</label>
              <input
                type="text"
                class="form-control w-75 ms-5"
                id="budget"
                formControlName="budget"
              />
              <div
                *ngIf="form.get('budget')?.hasError('required')"
                style="color: red"
                class="ms-5"
              >
                الميزانية مطلوبة
              </div>
              <div
                *ngIf="form.get('budget')?.hasError('min')"
                style="color: red"
                class="ms-5"
              >
                الميزانية غير صالحة
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-outline-warning w-25"
              style="color: #38271E !important;"
            >
              سجل
            </button>
            <button
            style="color: #38271E !important;"
              class="btn btn-outline-warning ms-3 w-25"
              mat-button
              mat-dialog-close
              
            >
              اغلاق
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <!-- <button class=" btn btn-primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Install
    </button> -->
  </mat-dialog-actions>
</main>
