
<div class="parent"> 
    <div class="child" id="map">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3711.456565081023!2d39.18602027527065!3d21.528995880248495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDMxJzQ0LjQiTiAzOcKwMTEnMTguOSJF!5e0!3m2!1sen!2seg!4v1698360232273!5m2!1sen!2seg" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div> 
    <div class="child">
        <div class="landmark">
            <div>
                <h3>ستاد الجوهرة المشعه<i class="fa fa-home" style="color:#873e23;"></i> </h3>
                                
                <div>
                    <span>Follow us on google for future updates</span>
                </div>                                                        
               </div>

               <div>
                <h3> مطار الملك فهد الدولي <i class="fa fa-heart" style="color:#873e23;"></i> </h3>
                              
                <div>
                    <span>Follow us on google for future updates</span>
                </div>                                                        
               </div>

               <div>
                <h3> طريق جدة- الرياض <i class="fa fa-road" style="color:#873e23;"></i> </h3>
                               
                <div>
                    <span>Follow us on google for future updates</span>
                </div>                                                        
               </div>

               <div>
                <h3> طريق جدة- الرياض <i class="fa fa-road" style="color:#873e23;"></i> </h3>
                                               
                <div>
                    <span>Follow us on google for future updates</span>
                </div>                                                        
               </div>
        
        
		</div>		
        
    </div> 
    </div> 

   