<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
/>
<section class="container py-4">
  <div class="row backImg">
    <div class="col-lg-4 col-md-5 col-sm-12">
      <div id="hiddenScale">
        <img
          class="img-fluid"
          src="assets/images/compound2.JPG"
          style="height: 30rem"
          id="scaleImg"
        />
      </div>
    </div>

    <div class="col-lg-8 col-md-7 col-sm-12">
      <div class="row">
        <div class="col-lg-6 mt-4 col-md-5 col-sm-12 d-flex">
          <div class="ms-auto">
            <p style="color: #38271e" class="pe-2">حارس أمن</p>
          </div>
          <div>
            <i
              class="fa-solid fa-person-military-pointing fa-4x p-2"
              style="
                color: #38271e;
                border: 2px solid #38271e;
                border-radius: 5px 5px;
              "
            ></i>
          </div>
        </div>

        <div class="col-lg-6 col-md-5 col-sm-12 d-flex mt-4">
          <div class="ms-auto">
            <p style="color: #38271e" class="pe-2">حارس أمن</p>
          </div>
          <div>
            <i
              class="fas fa-satellite-dish fa-4x p-2"
              style="
                color: #38271e;
                border: 2px solid #38271e;
                border-radius: 5px 5px;
              "
            ></i>
          </div>
        </div>

        <div class="col-lg-6 col-md-5 col-sm-12 d-flex mt-4">
          <div class="ms-auto">
            <p style="color: #38271e" class="pe-2">حارس أمن</p>
          </div>
          <div>
            <i
              class="fa-solid fa-person-military-pointing fa-4x p-2"
              style="
                color: #38271e;
                border: 2px solid #38271e;
                border-radius: 5px 5px;
              "
            ></i>
          </div>
        </div>

        <div class="col-lg-6 col-md-5 col-sm-12 d-flex mt-4">
          <div class="ms-auto">
            <p style="color: #38271e" class="pe-2">حارس أمن</p>
          </div>
          <div>
            <i
              class="fa-solid fa-person-military-pointing fa-4x p-2"
              style="
                color: #38271e;
                border: 2px solid #38271e;
                border-radius: 5px 5px;
              "
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
