<link
  href="https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Almarai&display=swap"
  rel="stylesheet"
/>

<section class="container-fluid py-5">
  <div class="row py-5">

    <div class="col-lg-6">
      <div class="m-2 containerImg">
        <img src="/assets/images/elsharafia_page-0007.jpg" class="img-fluid imgBuilding" />
      </div>
    </div>

    <div class="col-lg-6" style="background-color: #e1ae622b;">
      <div class="row pt-4">
        <div class="col-lg-12 mt-2">
          <div class="m-2" style="direction: rtl">
            <h3 style="font-weight: 800; font-size: 20px">مواصفات المبنى</h3>
            <p style="font-size: 15px">
             {{buildingData.description}} 
            </p>
          </div>
        </div>

        <div class="col-lg-12 mt-2">
          <div class="m-2" style="direction: rtl">
            <h3 style="font-weight: 800; font-size: 20px">رقم المبنى</h3>
            <p style="font-size: 15px">
              {{buildingData.bulidingNumber}} 
            </p>
          </div>
        </div>

        <div class="col-lg-12 mt-2">
          <div class="m-2" style="direction: rtl">
            <h3 style="font-weight: 800; font-size: 20px">عدد الأدوار</h3>
            <p style="font-size: 15px">
              {{buildingData.numberOfFloor}} 
            </p>
          </div>
        </div>

        <div class="col-lg-12 mt-2">
          <div class="m-2" style="direction: rtl">
            <h3 style="font-weight: 800; font-size: 20px">المساحة</h3>
            <p style="font-size: 15px">
              {{buildingData.sizeArea}} متر مربع
            </p>
          </div>
        </div>


      </div>
      
    </div>


  </div>
</section>
