.nav-link {
  color: white;
  transition: color 0.3s; /* Smooth transition for text color changes */
}
.navbar-custom .nav-item:hover .nav-link {
  color: #38271e; /* Change to the desired text color */
}
/* Custom styling for the navigation bar */
.navbar-custom {
  background-color: transparent; /* Initially transparent background */
  transition: background-color 1.5s; /* Smooth transition effect */
  position: absolute; /* Initially, the navbar isn't fixed */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it's above other content */
}

/* Add the brown background when scrolling */
.navbar-custom.scrolled {
  background-color: #8a6b54;

  position: fixed; /* Fixed position at the top */
}
.custom-logo {
  height: 50px; /* Set the desired height for your logo */
  margin-right: 20px; /* Add some right margin for spacing */
}
