


 <!-- <div class="video mb-3" style="display: flex; align-items: center;  justify-content: center; " > -->
    <!-- <iframe width="1400" height="350" 
    src="https://www.youtube.com/embed/mrkj1y7hIUk?autoplay=1&mute=1" ></iframe> -->
    
    <div class="about-card">
        <figure
          class="card-banner img-holder"
        >
          <video
            width="100%"
            autoplay
            loop
            muted
            poster
            class="img-cover"
          >
          <source src="assets/Videos/الفواز FAWAZ.mp4" type="video/mp4" />
          <source src="movie.ogg" type="video/ogg" />
          </video>
        </figure>
      </div>
  
 
<!-- </div>   -->