
  .parent {
     margin-top: 2rem;
    text-align: end;
    margin-right:3.5rem ;

    /* background-color: rgba(203,188,179,255); */


  }
  .child {
    display: inline-block;
    align-items: flex-start;
    
  }
  

#map iframe{
   margin-right: 400px;
   border-radius: 10px;

}
  
  
  i {
    position: absolute;
    right: 0;
    margin-right: 150px;
    margin-top: 9px;

  }
  .textLandmark{
    font-family: 'Almarai', sans-serif;
  }
 