<main>
  <div class="card" data-page="1">
    <div class="head">
      <h3>A1</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button mat-button (click)="openDialog()">
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="1">
    <div class="head">
      <h3>A2</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="1">
    <div class="head">
      <h3>A3</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />

        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />
        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="1">
    <div class="head">
      <h3>A1</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/Images/iconunit_1ng"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="1">
    <div class="head">
      <h3>A2</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/Images/iconunit_1png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="1">
    <div class="head">
      <h3>A3</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />

        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />
        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="1">
    <div class="head">
      <h3>A1</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="1">
    <div class="head">
      <h3>A2</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="1">
    <div class="head">
      <h3>A3</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />

        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/Images/iconunit_1png"
          alt=""
          width="30px"
          height="30px"
        />
        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="2" style="display: none">
    <div class="head">
      <h3>A4</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="2" style="display: none">
    <div class="head">
      <h3>A5</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/Images/iconunit_1png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button class="learn-more">
        <span class="button-text">اضغط لتفصيل اكثر</span>
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="2" style="display: none">
    <div class="head">
      <h3>A6</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="2" style="display: none">
    <div class="head">
      <h3>A4</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="2" style="display: none">
    <div class="head">
      <h3>A5</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/Images/iconunit_1g"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button class="learn-more">
        <span class="button-text">اضغط لتفصيل اكثر</span>
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="2" style="display: none">
    <div class="head">
      <h3>A6</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="2" style="display: none">
    <div class="head">
      <h3>A4</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="2" style="display: none">
    <div class="head">
      <h3>A5</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button class="learn-more">
        <span class="button-text">اضغط لتفصيل اكثر</span>
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="2" style="display: none">
    <div class="head">
      <h3>A6</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/Images/iconunit_1ng"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="3" style="display: none">
    <div class="head">
      <h3>A7</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر

        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="3" style="display: none">
    <div class="head">
      <h3>A8</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
  <div class="card" data-page="3" style="display: none">
    <div class="head">
      <h3>A9</h3>
      <button>متاح</button>
    </div>
    <div class="icons">
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_2.jpg"
          alt=""
          width="30px"
          height="30px"
        />
        <p>الارضي</p>
      </div>
      <div class="icon ico1">
        <img
          src="assets/images/iconunit_1.png"
          alt=""
          width="30px"
          height="30px"
        />

        <p>180.03</p>
      </div>
      <div class="icon ico1">
        <span class="material-symbols-outlined"> bed </span>
        <p>غرفة النوم:3</p>
      </div>
    </div>
    <div class="details">
      <button>
        اضغط لتفصيل اكثر
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
    </div>
  </div>
</main>

<div class="pagination">
  <a id="before" (click)="previousPage()">السابق</a>
  <a id="page-1" [class.active]="currentPage === 1" (click)="showPage(1)">1</a>
  <a id="page-2" [class.active]="currentPage === 2" (click)="showPage(2)">2</a>
  <a id="page-3" [class.active]="currentPage === 3" (click)="showPage(3)">3</a>
  <a id="next" (click)="nextPage()">التالي</a>
</div>
