<section>
  <div class="section">
    <div  class="zoom-container">

        <img src="/assets/images/elsharafia_page-0007.jpg" />
   
    </div>
 <div  >
    <ul class="text" >
        <li>
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequuntur vero aliquam deleniti 
                aspernatur modi libero ea dolore magnam accusamus asperiores,\
                 alias sit quia architecto pariatur, rerum quam aperiam minus?</p>
                 <h4>Number Of Units</h4>
                 <p>55 Units</p>
                 <h4>Number Of floors</h4>
                 <p>55 Units</p>
        </li>

    </ul>
 </div>
  </div>
</section>


