 .section{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    }
    .image-container{
        position: relative;
    display: inline-block; 
    margin: 2rem ;

    }
    .image-container img {
        max-width: 100%; 
         top: 50px; 
        left: 50px; 
    }
      
.text {
  
        position: relative;
        height: 31rem;
        max-width: 38rem;
        margin: 10px;;
        background-color:#F3EDE9;
    
    }
    .text h3{
        margin: 1rem;
        color: brown;
        padding-top: 10%;
        padding-right: 5%;
        font-family: 'Almarai', sans-serif;
        

    }
    .text p{
        padding-right: 3rem;
        padding-left: 3rem;
        color: brown;
        text-align: right;
        font-family: 'Almarai', sans-serif;
       
    
        
    }

    