 .section{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 50px ;


    }
   
    .text li{
        margin-bottom: 20px;
        font-family: 'Almarai', sans-serif;
    } 
   

    * {
        box-sizing: border-box;
    }
    
   
    p {
        margin: 0;
        line-height: 1.6;
        font-weight: bold;
    }

    
    li {
        position: relative;
        counter-increment: list;
        max-width: 45rem;
        margin: 2rem auto;
        padding: 2rem 1rem 1rem;
        box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
        border-radius: 0.25rem;
        overflow: hidden;
        background-color:beige;
        border-radius: 20px;
    }
    

    